pip-tools
pydantic[dotenv]
flake8==3.9.1
pre-commit==2.15.0
wemake-python-styleguide==0.16.1
flake8-bandit==2.1.2
bandit==1.7.2
flake8-isort==4.2.0
pylint
flake8-for-pycharm
gunicorn
pytest
pytest-asyncio
httptools
dependency_injector
redis
sqlalchemy
sqlalchemy[asyncio]
alembic
asyncpg
fastapi
orjson
uvicorn
uvloop
kafka-python==2.0.2
celery